new_raw_data/*

.DS_Store

TGNE/microarray_QC/*.xys

TGNE/microarray_QC/pd.*

TGNE/microarray_QC/*.csv

*-checkpoint.ipynb

*.nbconvert.ipynb

*.Rhistory

*.ht2

*.html

*.sam

*.fna

*.ndf

TGNE/eggnog/*.csv

TGNE/embedding/test_nn3_leiden_label_df_round_1*.csv

TGNE/enrichment/test_nn3_full_enrichment.csv

TGNE/microarray_probe_alignment_and_filtering/*rma_expression*.csv

*.pkl

.RData

TGNE/embedding/mcl_rcl/TAG/*

TGNE/embedding/mcl_rcl_res*.csv

TGNE/embedding/mcl_rcl/mcl_rcl_res*.csv

TGNE/embedding/mcl_rcl/pfx*

TGNE/embedding/mcl_rcl/*.pdf

TGNE/embedding/mcl_rcl/*.mci

TGNE/embedding/mcl_rcl/*.tab

TGNE/embedding/mcl_rcl/*.txt

*.labels

*.RDataTmp

*.html.zip

.vscode/*

archived_pipelines/*

TGNE/clustering_optimization/*.csv

*.db

TGNE/embedding/same_cluster_TTHERMS

*.mci

TGNE/enrichment/*.csv

TGNE/eggnog/hmmer/*

TGNE/eggnog/pfam/*

TGNE/embedding/*.csv

TGNE/embedding/colors_1000_1

TGNE/embedding/colors_2000_1

